<div>
   Hi <%= name %>,
</div>
</br>
<p>This candidate has been scheduled for an interview with you on <%= date %> at <%= time %>. You can prepare in advance for the interview by reviewing the interview kit if available.</p>
</br>
<div>
    <label>Best Regards,</label>
    <label>Hiring Team</label>
</div>